:root {
  /* primary color */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* neutral color */
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* font */
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main div:nth-child(1) {
  background-image: url("images/bg-pattern-desktop.svg"),
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-size: 100% 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px 0;
}

main > div:nth-child(2) {
  background-image: url("images/hero-desktop.jpg");
  background-size: cover;
}

@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }
  main > div:nth-child(2) {
    height: 300px;
  }
}

@media (min-width: 900px) {
  main {
    display: flex;
    height: 100vh;
  }

  main div:nth-child(1) {
    flex: 2;
    background-image: url("images/bg-pattern-desktop.svg"),
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: 100% 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
  }

  main > div:nth-child(2) {
    flex: 1;
    background-image: url("images/hero-desktop.jpg");
    background-size: cover;
  }

  main div:nth-child(1) > img {
    width: 150px;
    height: auto;
  }
  main div:nth-child(1) > div {
    width: 450px;
    display: flex;
    margin: auto;
    background: none;
    flex-direction: column;
  }
  main div:nth-child(1) h1:nth-child(1) {
    font-weight: 300;
    color: var(--desaturated-red);
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1.75rem;
  }
  main div:nth-child(1) h1:nth-child(2) {
    font-weight: 600;
    margin-top: 0;
    color: var(--dark-grayish-red);
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 10px;
  }
  main div:nth-child(1) p {
    color: var(--desaturated-red);
    line-height: 1.5rem;
    margin-bottom: 30px;
  }
  main div:nth-child(1) > div > div > div > div {
    width: 100%;
    border: 1px solid hsla(0, 36%, 70%, 0.3);
    height: 50px;
    border-radius: 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0;
  }
  main div:nth-child(1) > div > div > div > div img:nth-child(2) {
    width: 30px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 110px;
    margin: auto;
  }
  main div:nth-child(1) > div > div > div > div button {
    width: 100px;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(
      135deg,
      hsl(0, 80%, 86%),
      hsl(0, 74%, 74%)
    );
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
  }
  main div:nth-child(1) > div > div > div > div button:hover {
    box-shadow: 0px 10px 15px -3px hsla(0, 36%, 70%, 0.5);
    cursor: pointer;
  }
  main div:nth-child(1) > div > div > div > div input {
    border: none;
    height: 100%;
    width: 100%;
    background: none;
    padding-left: 25px;
    box-sizing: border-box;
    padding-right: 150px;
    font-weight: 600;
  }
  main div:nth-child(1) > div > div > div > div input[status="invalid"] {
    outline: 1px solid var(--soft-red);
    border-radius: 25px;
    padding: 0;
    padding-left: 25px;
    height: 50px;
    padding-right: 150px;
  }
  main div:nth-child(1) > div > div > div > div input[status="invalid"]:focus {
    outline: 1px solid var(--soft-red);
    border-radius: 25px;
    padding: 0;
    padding-left: 25px;
    height: 100%;
    padding-right: 150px;
  }
  main div:nth-child(1) > div > div > div > div input:focus {
    outline: 1px solid var(--desaturated-red);
    border-radius: 25px;
    padding: 0;
    padding-left: 25px;
    padding-right: 150px;
  }

  main div:nth-child(1) > div > div > div > p {
    margin-top: 5px;
    margin-left: 20px;
    color: var(--soft-red);
  }
}
